brotli
brotlicffi
certifi
cffi
charset-normalizer
crowdstrike-falconpy
idna
importlib-metadata
multivolumefile
py7zr
pybcj
pycparser
pycryptodomex
pyppmd
pyzstd
requests
texttable
typing-extensions
urllib3
zipp
