name: Check Docstrings
on:
  push:
    paths:
      - '**.py'
    branches:
      - main
      - 'ver_*'
  pull_request:
    paths:
      - '**.py'
    branches: 
      - main
      - 'ver_*'

jobs:
  pydocstyle:
    strategy:
        matrix:
          python-version: ["3.8", "3.10"]
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry --pre
        poetry install
    - name: Check package docstrings with pydocstyle
      run: |
        # Check docstring syntax
        poetry run pydocstyle caracara --count
